<div class="container portfolio_container small_screen">
    <h3>Full Applications</h3>
    <hr>
    <p>
        Please click on the photos to go to the live links!
    </p>
    <hr>
    <div class="row">
        <div class="col-sm-12 portfolio_item">
            <!--ng-click="liveLink('8000')"-->
            <div class="row">
                <div class="col-sm-3">
                    <img src="/photos/getMe1.png" class='img-responsive' alt="">
                </div>
                <div class="col-sm-3">
                    <img src="/photos/getMe2.png" class='img-responsive' alt="">
                </div>
                <div class="col-sm-3">
                    <img src="/photos/getMe3.png" class='img-responsive' alt="">
                </div>
                <div class="col-sm-3">
                    <img src="/photos/getMe4.png" class='img-responsive' alt="">
                </div>
            </div>
            <div class="row">
                <div class="wrap-text">
                    <h5>Get Me - The new way to share information</h5>
                    <p>Get Me is a full stack application that was built for mobile devices using the Ionic framework. The application features QR code scanning, real time chatting People are able to sign up, meet people, and share the information they want! Whether it's a business meeting and you want to share your email and LinkedIn, or you're at a social event and you want to share your SnapChat, Facebook, and Twitter - just select the information you want to share and scan your code!
                    </p>
                    <br>
                    <p><b>The live link is not available for this work due to alpha stage development. However, this is
                        available for live preview</b></p>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-sm-12 portfolio_item" ng-click="liveLink('themoves')">
            <img src="photos/themoves.png" class="img-responsive" alt="">
            <h5>The Moves - The event finder</h5>
            <p>A full stack application that allows people to find events - by name and by keyword category types - as well as create them if they are signed up as a business user. As a user, you can save events, look up more information on said event through links and a small blurb, and search for the location on a map. The application uses user authentication to allow sign in and sign out, Google Maps API, and Materialize styling to bring a real application feeling.
            </p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12 portfolio_item" ng-click="liveLink('foodie')">
            <img src="photos/foodie.png" class="img-responsive" alt="">
            <h5>Foodie - The Next Big Recipe Finder</h5>
            <p>Foodie is a full CRUD application that allows users to search for recipes through ingredient, category, or by hot items of the day and save these recipes to look up for later. The application uses a RESTful API through angular http requests to allow my AngularJS client to display this information in a nicely bootstrapped website. The website was built with HTML5, CSS3, JavaScript, Angular, and Node.js (Express).
            </p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12 portfolio_item" ng-click="liveLink('exploration')">
            <img src="photos/NASA.png" class="img-responsive" alt="">
            <h5>Exploration - Seeing Space and Earth through NASA's eyes</h5>
            <p>Exploration is a website that is built to inform it’s viewers on the activity of space. Through uses from NASA’s RESTful API, viewers can: learn from a daily article that is displayed with a picture, view our near-earth objects and it’s details, see a satellite image of their location (using their IP address), and see pictures from the rover - Curiosity - on Mars. The website was built using AngularJS, HTML5, CSS3, and Bootstrap.
            </p>
        </div>
    </div>
    <h3>Static Webpages</h3>
    <hr>
    <div class="row">
        <div class="col-sm-5 portfolio_item ">
            <img src="photos/explore.png" alt="" class="img-responsive">
            <h5>Explore - A Business Webpage</h5>
            <p>A static webpage for 'Unilimited' Business <br> <b> Live link not up - Available for in person preview</b></p>
        </div>

        <a href="http://midtowndev.io/" target="_blank">
            <div class="col-sm-5 col-sm-offset-2 portfolio_item black">
            <img src="/photos/MDS.png" class='img-responsive' alt="">
            <h5>Midtown Dev Shop</h5>
            <p>
                Midtown Dev Shop is a website built for people to go and hire a group of developers to build whatever their heart may desire. Built with the alpha version of bootstrap 4, and high quality design in mind, the website provides a sleek interface that is visually pleasing.
                <br>
            </p>
        </div>
        </a>
        <a href="http://brimariemusic.surge.sh" target="_blank">
           <div class="col-sm-5 portfolio_item black brimarie">
            <img src="/photos/brimarie.png" class='img-responsive' alt="">
            <h5>Bri Marie Music</h5>
            <p>
                Bri Marie Music is a website built for an R&amp;B musician that is up and coming on the East Coast. This website is currently still under construction and there is much more to come! This website was built with pure HTML and CSS (along with bootstrap).
            </p>
            </div>
        </a>
        
        <a href="http://gabriellefonrouge.surge.sh" target="_blank">
           <div class="col-sm-5 col-sm-offset-2 portfolio_item black brimarie">
            <img src="/photos/gabby_website.png" class='img-responsive' alt="">
            <h5>Gabrielle Fonrouge - NY Post Journalist</h5>
            <p>
                This website was built for NY Post Journalist, Gabrielle Fonrouge. Built with bootstrap, HTML and CSS, this website's purpose is to showcase Gabrielle's work as well as give a bit of background on her. This website is still under construction as there are copyright issues to work out. However, the live preview link is available.
            </p>
            </div>
        </a>
    </div>
</div>
